body {
    margin: 0;
    padding: 0;
    background: url(../assets/images/freepatterndesign.jpg);
    size: 5px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.container {
    margin: 0 auto;
    padding: 10px;
    height: 950px;
    width: 70%;
    font-size: 20px;
    background-color: #D86E71;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    float: none;
}

button{
    size: 5px;
    padding: 0.5;
    color: bisque;
    background-color: #2C325A; 
}

.gif-search {
    padding: 0;
    margin: 5px;
}

.gif-buttons {
    margin: 15px;
}